body {
    background-color: #efefef;
    font-family: serif;
}

.profileImage {
    width: 50px;
    height: 50px;
}

.profile .verticalNav {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main {
    background-color: white;
    padding: 15px;
}

.mediaMargin {
    margin: 15px;
    padding: 15px;
    background-color: aliceblue;
}

.mediaMarginNested {
    margin: 8px;
    padding: 8px;
    background-color: lightgoldenrodyellow;
}

pre {
    font-family: serif;
    font-size: 16px;
}

.rounded {
    border-radius: 1.0rem!important;
}