<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navigation :: navbar"></div>
<div class="container-fluid py-5 px-5">
    <div class="row main">
        <div class="col-md-9 col-xs-12 border-right border-light">
            <h3>Explore</h3>
            <hr>
            <ul class="list-unstyled">
                <li class="media" style="margin: 15px 15px 30px;" th:each="question : ${paginationDTO.getQuestions()}">
                    <img class="align-self-start profileImage rounded mr-1" th:src="${question.getUserModel().getProfilePath()}" alt="Profile Image">
                    <div class="media-body">
                        <a th:href="@{'/question/'+${question.getId()}}"><h5 class="mt-0" th:text="${question.getTitle()}"></h5></a>
                        <span th:text="${question.getDescription()}"></span><br>
                        <span class="text-secondary">
                            <i class="fa fa-comment"></i> <span th:text="${question.getCommentCount()}"></span> &emsp;
                            <i class="fa fa-eye"></i> <span th:text="${question.getViewCount()}"></span> &emsp;
                            <i class="fa fa-arrow-up"></i> <span th:text="${question.getUpVote()}"></span> &emsp;
                            <i class="fa fa-arrow-down"></i> <span th:text="${question.getDownVote()}"></span> &emsp;
                            <span class="badge badge-info">Posted on: <span th:text="${#dates.format(question.getCreateTime(), 'dd MMMM yyyy HH:mm')}"></span></span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-12">
            <h3>Hot Topics</h3>
            Lists of hot topics here...
        </div>
        <hr>
        <nav aria-label="Page navigation" class="main">
            <ul class="pagination">
                <li class="page-item" th:if="${paginationDTO.isShowFirst()}">
                    <a class="page-link" href="/?page=1&size=5">&laquo;</a>
                </li>
                <li class="page-item" th:if="${paginationDTO.isShowPrev()}">
                    <a class="page-link" th:href="@{'/?page='+${paginationDTO.getCurrPage()-1}}">Prev</a>
                </li>
                <th:block th:each="page : ${paginationDTO.getPages()}">
                    <li class="page-item" th:if="${paginationDTO.getCurrPage() != page}">
                        <a class="page-link" th:href="@{'/?page='+${page}}" th:text="${page}"></a>
                    </li>
                    <li class="page-item active" th:if="${paginationDTO.getCurrPage().equals(page)}">
                        <a class="page-link" href="#" th:text="${page}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${paginationDTO.isShowNext()}">
                    <a class="page-link" th:href="@{'/?page='+${paginationDTO.getCurrPage()+1}}">Next</a>
                </li>
                <li class="page-item" th:if="${paginationDTO.isShowEnd()}">
                    <a class="page-link" th:href="@{'/?page='+${paginationDTO.getTotalPages()}}">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>