<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ask A Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>
<div th:insert="navigation :: navbar"></div>
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert" th:if="${error != null}" th:text="${error}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" th:if="${error != null}">
        <span aria-hidden="true" th:if="${error != null}">&times;</span>
    </button>
</div>
<div class="container-fluid py-5 px-5">
    <div class="row main">
        <div class="col-md-9 col-xs-12 border-right border-light">
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title"><h5>Question Title</h5></label>
                    <input class="form-control" id="title" name="title" th:value="${title}">
                    <small class="form-text text-muted">Please enter within 50 words</small>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="description"><h5>Description</h5></label>
                    <textarea class="form-control" id="description" name="description" rows="15" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="fileUpload">Upload Files</label>
                    <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                </div>
                <div class="form-group">
                    <label for="tag">Select Tags</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" autocomplete="off" placeholder="split with comma">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-lang-tab" data-toggle="tab" href="#nav-lang"
                               role="tab" aria-controls="nav-lang" aria-selected="true">Language</a>
                            <a class="nav-item nav-link" id="nav-database-tab" data-toggle="tab" href="#nav-database"
                               role="tab" aria-controls="nav-database" aria-selected="false">Database</a>
                            <a class="nav-item nav-link" id="nav-tool-tab" data-toggle="tab" href="#nav-tool"
                               role="tab" aria-controls="nav-tool" aria-selected="false">Tool</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-lang" role="tabpanel" aria-labelledby="nav-lang-tab">
                            <span th:each="currTag: ${tagCache.get('language')}">
                                <span class="badge badge-pill badge-primary" th:text="${currTag}" onclick="selectTag(this)" th:data-tag="${currTag}"></span> &ensp;
                            </span>
                        </div>
                        <div class="tab-pane fade" id="nav-database" role="tabpanel" aria-labelledby="nav-database-tab">
                            <span th:each="currTag: ${tagCache.get('database')}">
                                <span class="badge badge-pill badge-primary" th:text="${currTag}" onclick="selectTag(this)" th:data-tag="${currTag}"></span> &ensp;
                            </span>
                        </div>
                        <div class="tab-pane fade" id="nav-tool" role="tabpanel" aria-labelledby="nav-tool-tab">
                            <span th:each="currTag: ${tagCache.get('tool')}">
                                <span class="badge badge-pill badge-primary" th:text="${currTag}" onclick="selectTag(this)" th:data-tag="${currTag}"></span> &ensp;
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="anonymous" name="anonymous">
                    <label class="form-check-label" for="anonymous">Anonymous</label>
                </div>
                <button type="submit" class="btn btn-success">Post My Question</button>
            </form>
        </div>
        <hr/>
        <div class="col-md-3 col-xs-12">
            <h5>Instructions</h5>
            Some instructions about submitting the question...
        </div>
    </div>
</div>
</body>
</html>